<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input name="id" disabled [(ngModel)]="aluno.id" id="disabled" type="text" class="validate">
                <label for="disabled">#</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="nome" id="nome" [(ngModel)]="aluno.nome" type="text">
                <label class="active" for="nome">Nome</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="email" id="email" [(ngModel)]="aluno.email" type="email">
                <label class="active" for="email">Email</label>
            </div>
        </div>
        
    </form>
</div>